.navDiv{
    background-color: black;
    height: 5vh;
}

.navDiv a{
    text-decoration: none;
    line-height: 5vh;
    color: white;
    margin-left: 10px;
}

.navDiv a:hover{
    color: red
}

.logoutButton{
    border: none;
    color: white;
    background-color: black;

}

.logoutButton:hover{
    color: red;
}