.reimbursement{
    text-align: justify;
    background-color: slategray;
    border: 1px solid black;
    max-width: 300px;
    grid-column: 1;

}

.reimbursement:hover{
    background-color: black;
    color: white;
}

.reimbText{
    margin-left: 20px;
}

.reimbContain{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fullView{
    grid-column: 2;
    grid-row: 1;
    background-color: gray;
    background-image: url("../assets/blackback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: 300px auto;
    background-color: gray;
}

.reimbSelect{
    width: 100%;
}

.expandedView{
    margin-left: 10px;
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: gray;
    box-shadow: 0 0 10px black;
    margin-top: 100px;
    padding: 10px;
}

.expandedView button{
    background-color: crimson;
    border: none;
    padding: 10px;
    margin: 5px;
}

.expandedView button:hover{
    background-color: orangered;
    color: white;
}